.result-container {
    width: 100%;
    min-height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: wheat;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
  }
  
  .result-content {
    padding: 10px;
    max-width: 100%;
    overflow-wrap: break-word;
    word-break: break-all;
  }
  
  .result-value {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    overflow-wrap: break-word;
    word-break: break-all;
  }
  
  .show {
    animation: fadeIn 0.5s ease-in-out;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
