html,
body {
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.main_center {
  margin-top: 48px;
  margin-bottom: 48px;
  flex: 1;
  min-height: 0;
  overflow-y: auto;
}

.middle {
  flex-grow: 1;
}

.bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 100;
}

@media screen and (max-width: 768px) {
  .main_center {
    margin-top: 46px;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 520px) {
  .main_center {
    margin-top: 42px;
  }
}

