<div class="wrapper">
  <div class="contact-card">
    <div class="card-header">
      <h1>{{ contactUs }}</h1>
      <p class="subtitle">{{ subtitle }}</p>
    </div>

    <form [formGroup]="contactForm" (ngSubmit)="submitForm()">
      <div class="form-group">
        <input type="text" id="name" formControlName="name" placeholder=" ">
        <label for="name">{{ name }}</label>
      </div>

      <div class="form-group">
        <input type="text" id="subject" formControlName="subject" placeholder=" ">
        <label for="subject">{{ subject }}</label>
      </div>

      <div class="form-group">
        <textarea id="message" formControlName="message" placeholder=" "></textarea>
        <label for="message">{{ message }}</label>
      </div>

      <button type="submit" [disabled]="!contactForm.valid">
        <span class="btn-text">{{ submit }}</span>
        <span class="btn-icon">&#10148;</span>
      </button>
    </form>

    <div *ngIf="showResponse" class="response">
      {{ response }}
    </div>

    <div class="divider"></div>

    <div class="contact-email">
      <img src="{{ emailIconPath }}" alt="Email Icon" class="icon">
      <a href="mailto:sara.lazic&#64;outlook.com">sara.lazic&#64;outlook.com</a>
    </div>
  </div>
</div>
