<div class="info-wrapper">
    <div class="info-left">
        <div class="info-left-inner">
            <h1>{{ functionName }}</h1>

            <h3>{{definition}}:</h3>
            <div *ngFor="let definitionUrl of definitionUrls" class="info-img-container">
                <img src="{{ definitionUrl }}" alt="Photo" [style.max-width.%]="styleDef">
            </div>
            <h3>{{domain}}:</h3>
            <div class="info-img-container">
                <img src="{{ domainUrl }}" alt="Domain" [style.max-width.%]="styleDomain">
            </div>
            <h3 *ngIf="showEquation">{{equation}}:</h3>
            <div *ngIf="showEquation" class="info-img-container">
                <img src="{{ equationUrl }}" alt="Equation" [style.max-width.%]="styleEqu">
            </div>
            <h3>{{relations}}:</h3>
            <div *ngFor="let relationUrl of relationsUrl" class="info-img-container">
                <img src="{{ relationUrl }}" alt="Photo" [style.max-width.%]="styleRel">
            </div>
        </div>
    </div>

    <div class="info-right">
        <div>
            <img src="{{ graphUrl }}" alt="Graph" [style.max-width.%]="photoStyle">
        </div>
    </div>
</div>
